[submodule "electron-api-demos"]
	path = electron-api-demos
	url = https://github.com/electron/electron-api-demos.git
[submodule "electron-quick-start"]
	path = electron-quick-start
	url = https://github.com/electron/electron-quick-start
[submodule "electron-poc-first-app-boilerplated"]
	path = electron-poc-first-app-boilerplated
	url = https://gitlab.com/slopez15/electron-poc-first-app-boilerplated
